<div style="text-align: right; padding-right:10px;">
    <mat-icon *ngIf="!showInputUserId" style="vertical-align: text-bottom;">person</mat-icon>
    <span *ngIf="!showInputUserId" class="full-width"> {{cookieUserId}}</span>
</div>

<div style="text-align: center;">
    <div>
        <h3>
            <strong>Investment<span style="padding-left: 5px"></span></strong> Statistics
        </h3>
    </div>

    <div class="box" style="vertical-align: text-bottom;" *ngIf="showInputUserId">
        <mat-icon>person</mat-icon>
        <mat-form-field style="width: 50%; vertical-align: baseline">
            <mat-label>請輸入使用者代號</mat-label>
            <input matInput #txtUserId id="txtUserId" placeholder="Ex. ..." />
        </mat-form-field>
        <button mat-button (click)="GetUserId(txtUserId)">Login</button>
    </div>

    <div>Two Pie Chart</div>
    <div>add new stock and count</div>
    <div>Stock List</div>
</div>