<div style="text-align: right; padding-right:10px;">
    <button mat-raised-button (click)="ResetUserId(cookieUserId)">
        <mat-icon *ngIf="!showInputUserId" style="vertical-align: center;">person</mat-icon>
        <span *ngIf="!showInputUserId" class="full-width"> {{cookieUserId}}</span>
        <mat-icon *ngIf="!showInputUserId" style="vertical-align: center;padding-left: 5px;">exit_to_app</mat-icon>
    </button>
</div>

<div style="text-align: center;">
    <div>
        <h3>
            <strong>Investment<span style="padding-left: 5px"></span></strong> Statistics
        </h3>
    </div>

    <div class="box" style="vertical-align: text-bottom;" *ngIf="showInputUserId">
        <mat-icon>person</mat-icon>
        <mat-form-field style="width: 50%; vertical-align: baseline">
            <mat-label>請輸入使用者代號</mat-label>
            <input matInput #txtUserId id="txtUserId" placeholder="Ex. ..." />
        </mat-form-field>
        <button mat-icon-button (click)="SetUserId(txtUserId)">Login</button>
    </div>

    <div style="margin: auto;width: 90%;padding: 10px;" *ngIf="!showInputUserId">
        <mat-card style="background-color: rgba(255,255,255,0.8);text-align: left;">
            <mat-card-title>目標達成率</mat-card-title>
            <div class="flex-container" style="height:max-content;">

                <div class="flex-item">
                    <mat-form-field style="width: 100%;vertical-align: baseline">
                        <mat-label>目標 <b>每年</b> 股利</mat-label>
                        <input matInput #txtTarget id="txtTarget" style="height:30px" (keyup)="SetRate(txtTarget)"
                            type="number" />
                    </mat-form-field>
                </div>

                <div class="flex-item">
                    <p>目前股利</p>
                    <div class="c100 p100 center">
                        <span>{{sumRevenue.toFixed(0)}}</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="flex-item">
                    <p>平均股利計算</p>
                    <div class="c100 p{{sumRate.toFixed(0)}} center">
                        <span>{{sumRate}}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                        <br>
                    </div>
                </div>

            </div>
        </mat-card>
    </div>
    <div style="margin: auto;width: 90%;padding: 10px;" *ngIf="!showInputUserId">
        <mat-card style="background-color: rgba(255,255,255,0.8);text-align: left;">
            <mat-card-title>現有股票清單</mat-card-title>
            <mat-card-subtitle>
                <span>
                    <label style="padding-right: 5%;">股票代號
                        <mat-form-field style="width:10%;vertical-align: baseline;text-align: left;">
                            <input matInput #txtStockId id="txtStockId" placeholder="Ex. 2883" />
                        </mat-form-field>
                    </label>
                    <label style="padding-right: 5%;">新增股數
                        <mat-form-field style="width:10%;vertical-align: baseline;text-align: left;">
                            <input matInput #txtStockCount id="txtStockCount" type="number" placeholder="Ex. 1000" />
                        </mat-form-field>
                    </label>
                    <label style="padding-right: 5%;">平均單價
                        <mat-form-field style="width:10%;vertical-align: baseline;text-align: left;">
                            <input matInput #txtStockPrice id="txtStockPrice" type="number" placeholder="Ex. 10.5" />
                        </mat-form-field>
                    </label>
                    <button mat-raised-button color="secondary"
                        (click)="SetRecord(txtStockId.value,txtStockCount.value,txtStockPrice.value)"
                        style="height: max-content;">
                        <mat-icon>add</mat-icon>
                    </button>
                </span>
            </mat-card-subtitle>
            <mat-tab-group [@.disabled]="true" mat-align-tabs="center">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <h3><strong>基本數據</strong></h3>
                    </ng-template>
                    <div class="flex-container"
                        style="width:80%;text-align: left;height: max-content;background-color: whitesmoke;">

                    </div>
                    <div class="flex-container" style="width:80%;text-align: left;">
                        <div class="flex-item" style="width: 8%;"><b>股票代號</b></div>
                        <div class="flex-item" style="width: 16%;"><b>股票名稱</b></div>
                        <div class="flex-item" style="width: 10%;"><b>持有股數</b></div>
                        <div class="flex-item" style="width: 8%;"><b>平均單價</b></div>
                        <div class="flex-item" style="width: 10%;"><b>持有成本</b></div>
                        <div class="flex-item" style="width: 8%;"><b>最新現價</b></div>
                        <div class="flex-item" style="width: 10%;"><b>目前市值</b></div>
                        <div class="flex-item" style="width: 10%;"><b>目前損益</b></div>
                        <div class="flex-item" style="width: 10%;"><b>損益率</b></div>
                    </div>
                    <span *ngFor="let stock of Stock_Array">
                        <div class="flex-container" style="width:80%;text-align: left;height: max-content;">
                            <div class="flex-item" style="width: 8%;">{{stock.toString().split(',')[0]}}</div>
                            <div class="flex-item" style="width: 16%;">{{stock.toString().split(',')[1]}}</div>
                            <div class="flex-item" style="width: 10%;">{{stock.toString().split(',')[2]}}</div>
                            <div class="flex-item" style="width: 8%;">{{(+(stock.toString().split(',')[3])).toFixed(2)}}
                            </div>
                            <div class="flex-item" style="width: 10%;">
                                {{
                                (+
                                (+(stock.toString().split(',')[2])) *
                                (+(stock.toString().split(',')[3])) +
                                ((+(stock.toString().split(',')[2]) / 1000) * 20)
                                ).toFixed(0)
                                }}
                            </div>
                            <div class="flex-item" style="width: 8%;">{{(+(stock.toString().split(',')[4])).toFixed(2)}}
                            </div>
                            <div class="flex-item" style="width: 10%;">
                                {{
                                (+
                                (+(stock.toString().split(',')[2])) *
                                (+(stock.toString().split(',')[4])) -
                                ((+(stock.toString().split(',')[2]) / 1000) * 40)
                                ).toFixed(0)
                                }}
                            </div>
                            <div class="flex-item" style="width: 10%;">
                                {{
                                (+
                                (+(stock.toString().split(',')[2])) *
                                ((+(stock.toString().split(',')[4])) - (+(stock.toString().split(',')[3])))
                                -
                                (
                                ((+(stock.toString().split(',')[2])) / 1000) * 20
                                )
                                ).toFixed(0)
                                }}
                            </div>
                            <div class="flex-item" style="width: 10%;">
                                {{
                                ((+
                                ((+(stock.toString().split(',')[2])) *
                                ((+(stock.toString().split(',')[4])) -(+(stock.toString().split(',')[3])) )
                                -
                                (((+(stock.toString().split(',')[2])) / 1000) * 20))
                                /
                                ((+(stock.toString().split(',')[2])) *
                                (+(stock.toString().split(',')[3])) +
                                (((+(stock.toString().split(',')[2])) / 1000) * 20 ))
                                )*100).toFixed(2)
                                }} %
                            </div>
                        </div>
                    </span>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <h3><strong>平均配股配息</strong></h3>
                    </ng-template>
                    <div class="flex-container" style="width:80%;text-align: left;height: max-content;">
                        <div class="flex-item" style="width: 8%;"><b>股票代號</b></div>
                        <div class="flex-item" style="width: 16%;"><b>股票名稱</b></div>
                        <div class="flex-item" style="width: 10%;"><b>現金配息</b></div>
                        <div class="flex-item" style="width: 10%;"><b>現金殖利率</b></div>
                        <div class="flex-item" style="width: 10%;"><b>現金配股</b></div>
                        <div class="flex-item" style="width: 10%;"><b>股票殖利率</b></div>
                        <div class="flex-item" style="width: 26%;"><b>年利息</b></div>
                    </div>
                    <span *ngFor="let stock of Stock_Array">
                        <div class="flex-container" style="width:80%;text-align: left;height: max-content;">
                            <div class="flex-item" style="width: 8%;">{{stock.toString().split(',')[0]}}</div>
                            <div class="flex-item" style="width: 16%;">{{stock.toString().split(',')[1]}}</div>
                            <div class="flex-item" style="width: 10%;">
                                {{(+(stock.toString().split(',')[5])).toFixed(4)}}</div>
                            <div class="flex-item" style="width: 10%;">
                                {{
                                ((+
                                (+(stock.toString().split(',')[5]))
                                /
                                (+(stock.toString().split(',')[4]))
                                )*100).toFixed(2)
                                }} %
                            </div>
                            <div class="flex-item" style="width: 10%;">
                                {{(+(stock.toString().split(',')[6])).toFixed(4)}}</div>
                            <div class="flex-item" style="width: 10%;">
                                {{
                                ((+
                                (+(stock.toString().split(',')[6]))
                                /
                                (+(stock.toString().split(',')[4]))
                                )*100).toFixed(2)
                                }} %
                            </div>
                            <div class="flex-item" style="width: 26%;">
                                {{
                                (+
                                (+(stock.toString().split(',')[5])) *
                                (+(stock.toString().split(',')[2]))
                                ).toFixed(0)
                                }}
                            </div>
                        </div>
                    </span>
                </mat-tab>

            </mat-tab-group>

            <!-- <div class="flex-container" style="height:max-content;">
                <div class="flex-item">
                    <section style="width: 100%;">
                            <div class="row">
                                <div class="col"></div>
                            </div>
                        </span>
                    </section>
                </div>
            </div> -->
        </mat-card>
    </div>
</div>