<mat-tab-group [@.disabled]="true" mat-align-tabs="center">
    <mat-tab>
        <ng-template mat-tab-label>
            <h3><strong>AQI<span style="padding-left: 5px"></span></strong> Chart</h3>
        </ng-template>

        <div style="margin: auto;padding: 10px;">
            <mat-card style="background-color: rgba(255,255,255,0.8);">
                <mat-card-title>最佳空氣品質</mat-card-title>
                <div class="flex-container" style="height:max-content;">
                    <div class="flex-item">
                        <p><b>{{Top1_County}}</b></p>
                        <div
                            class="c100 p{{Top1>100?100:Top1}} center {{Top1<=50?'green':Top1<=100?'yellow':Top1<=150?'orange':'orangered'}}">
                            <span>{{Top1}}</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="flex-item">
                        <p><b>{{Top2_County}}</b></p>
                        <div
                            class="c100 p{{Top2>100?100:Top2}} center {{Top2<=50?'green':Top2<=100?'yellow':Top2<=150?'orange':'orangered'}}">
                            <span>{{Top2}}</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="flex-item">
                        <p><b>{{Top3_County}}</b></p>
                        <div
                            class="c100 p{{Top3>100?100:Top3}} center {{Top3<=50?'green':Top3<=100?'yellow':Top3<=150?'orange':'orangered'}}">
                            <span>{{Top3}}</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

        <div style="margin: auto;padding: 10px;">
            <mat-card style="background-color: rgba(255,255,255,0.8);">
                <mat-card-title>最差空氣品質</mat-card-title>
                <div class="flex-container" style="height:max-content;">
                    <div class="flex-item">
                        <p><b>{{Last1_County}}</b></p>
                        <div
                            class="c100 p{{Last1>100?100:Last1}} center {{Last1<=50?'green':Last1<=100?'yellow':Last1<=150?'orange':'orangered'}}">
                            <span>{{Last1}}</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="flex-item">
                        <p><b>{{Last2_County}}</b></p>
                        <div
                            class="c100 p{{Last2>100?100:Last2}} center {{Last2<=50?'green':Last2<=100?'yellow':Last2<=150?'orange':'orangered'}}">
                            <span>{{Last2}}</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="flex-item">
                        <p><b>{{Last3_County}}</b></p>
                        <div
                            class="c100 p{{Last3>100?100:Last3}} center {{Last3<=50?'green':Last3<=100?'yellow':Last3<=150?'orange':'orangered'}}">
                            <span>{{Last3}}</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

        <div style="margin: auto;padding: 10px;">
            <mat-card style="background-color: rgba(255,255,255,0.8);">
                <mat-card-title>空氣品質指標</mat-card-title>

                <div class="new-flex-container">
                    <div class="new-item-header"></div>
                    <div class="new-item" style="font-weight: bold;color: darkgreen;background-color: greenyellow">
                        良好
                    </div>
                    <div class="new-item" style="font-weight: bold;color: brown;background-color: yellow">
                        普通
                    </div>
                    <div class="new-item" style="font-weight: bold;color: brown;background-color: orange">
                        對敏感族群不健康
                    </div>
                    <div class="new-item" style="font-weight: bold;color: white;background-color: orangered">
                        對所有族群不健康
                    </div>
                    <div class="new-item" style="font-weight: bold;color: white;background-color: purple">
                        非常不健康
                    </div>
                    <div class="new-item" style="font-weight: bold;color: white;background-color: brown">
                        危害
                    </div>
                </div>
                <div class="new-flex-container">
                    <div class="new-item-header">AQI</div>
                    <div class="new-item">0-50</div>
                    <div class="new-item">51-100</div>
                    <div class="new-item">101-150</div>
                    <div class="new-item">151-200</div>
                    <div class="new-item">201-300</div>
                    <div class="new-item">301-500</div>
                </div>
                <div class="new-flex-container">
                    <div class="new-item-header">PM2.5</div>
                    <div class="new-item">0-15.4</div>
                    <div class="new-item">15.5-35.4</div>
                    <div class="new-item">35.5-54.4</div>
                    <div class="new-item">54.5-150.4</div>
                    <div class="new-item">150.5-250.4</div>
                    <div class="new-item">250.5-500.4</div>
                </div>
                <div class="new-flex-container">
                    <div class="new-item-header">PM10</div>
                    <div class="new-item">0-54</div>
                    <div class="new-item">55-125</div>
                    <div class="new-item">126-254</div>
                    <div class="new-item">255-354</div>
                    <div class="new-item">355-424</div>
                    <div class="new-item">425-604</div>
                </div>
                <div class="new-flex-container">
                    <div class="new-item-header">O<sub>3</sub></div>
                    <div class="new-item">---</div>
                    <div class="new-item">---</div>
                    <div class="new-item">125-164</div>
                    <div class="new-item">165-204</div>
                    <div class="new-item">205-404</div>
                    <div class="new-item">405-604</div>
                </div>
                <div class="new-flex-container">
                    <div class="new-item-header">SO<sub>2</sub></div>
                    <div class="new-item">0-20</div>
                    <div class="new-item">21-75</div>
                    <div class="new-item">76-185</div>
                    <div class="new-item">186-304</div>
                    <div class="new-item">305-604</div>
                    <div class="new-item">605-1004</div>
                </div>
                <div class="new-flex-container">
                    <div class="new-item-header">NO<sub>2</sub></div>
                    <div class="new-item">0-30</div>
                    <div class="new-item">31-100</div>
                    <div class="new-item">101-360</div>
                    <div class="new-item">361-649</div>
                    <div class="new-item">650-1249</div>
                    <div class="new-item">1250-2049</div>
                </div>

            </mat-card>
        </div>


        <div style="margin: auto;padding: 10px;">
            <mat-card style="background-color: rgba(255,255,255,0.8);">
                <mat-card-title></mat-card-title>
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </mat-card>
        </div>

    </mat-tab>

    <mat-tab>

        <ng-template mat-tab-label>
            <h3><strong>AQI<span style="padding-left: 5px"></span></strong> List</h3>
        </ng-template>
        <div class="box">
            <mat-grid-list cols="1" rowHeight="80px">
                <mat-grid-tile>
                    <mat-icon style="padding-right: 20px;">
                        search
                    </mat-icon>
                    <mat-form-field style="width: 50%; vertical-align: baseline">
                        <mat-label>請輸入關鍵字進行搜尋</mat-label>
                        <input matInput #filter (keyup)="changed($event)" placeholder="Ex. ..." />
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-table [dataSource]="AQIRecordDataSource" matSort class="mat-elevation-z8">

                <!-- <ng-container matColumnDef="SiteId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    測站編號
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.SiteId }} </mat-cell>
            </ng-container> -->

                <ng-container matColumnDef="County">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        縣市
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.County }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="SiteName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        測站名稱
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.SiteName }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="AQI">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        空氣品質指標
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.AQI }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Pollutant">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        空氣污染指標物
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.Pollutant }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        狀態
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.Status }} </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="SO2">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    二氧化硫(ppb)
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.SO2 }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="CO">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    一氧化碳(ppm)
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.CO }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="O3">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    臭氧(ppb)
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.O3 }} </mat-cell>
            </ng-container> -->

                <ng-container matColumnDef="PM2.5">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        細懸浮微粒(μg/m3)
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row["PM2.5"] }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="PM10">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        懸浮微粒(μg/m3)
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.PM10 }} </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="NO2">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    二氧化氮(ppb)
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.NO2 }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="NOx">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    氮氧化物(ppb)
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.NOx }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="NO">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    一氧化氮(ppb)
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.NO }} </mat-cell>
            </ng-container> -->

                <ng-container matColumnDef="PublishTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        資料建置日期
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.PublishTime | date: "yyyy/MM/dd HH:mm" }} </mat-cell>
                </ng-container>


                <!-- Header and Row Declarations -->
                <mat-header-row *matHeaderRowDef="displayedColumns">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-tab>

</mat-tab-group>