.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0% 10%;
    margin: 0;
    list-style: none;
    height: 25px;
}

.flex-item {
    font-weight: 400;
    font-family: 'Helvetica Neue', sans-serif;
}