/* table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
} */

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0% 10%;
    margin: 0;
    list-style: none;
    height: 25px;
}

.flex-item {
    font-weight: 400;
    font-family: 'Helvetica Neue', sans-serif;
}

.new-flex-container {
    display: flex;
    flex-direction: row;
}

.new-item-header {
    width: 10%;
    text-align: center;
    line-height: 30px;
}

.new-item {
    width: 15%;
    text-align: center;
    line-height: 30px;
}

.table-flex-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    grid-gap: 1rem;

    /* boring properties */
    background: #fcfcfc;
    padding: 1rem;
    width: 100%;
    padding: 5px 0px;
    margin: 5px 0px;
}

.table-flex-item {
    height: max-content;
    width: auto;
    text-align: center;
    background: white;
    align-self: stretch;
    margin: 10px;
}

.table-flex-item:hover {
    background: #eee;
}