<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" #sidenav opened position="start" mode="side">
        <!-- <div (click)="sidenav.toggle()">
            <button mat-button class="full-width">
                <mat-icon>computer</mat-icon>
                <H2>{{ SideNavTitle }}</H2>
            </button>
        </div> -->
        <div>
            <button mat-button class="full-width">
                <!-- <mat-icon>computer</mat-icon>
                <H2>{{ SideNavTitle }}</H2> -->
                <a mat-list-item routerLink="/index" routerLinkActive="active"
                    style="color:whitesmoke;text-decoration: none;">
                    <mat-icon>computer</mat-icon>
                    <H2>{{ SideNavTitle }}</H2>
                </a>
            </button>
        </div>

        <mat-nav-list>
            <!-- <a mat-list-item routerLink="/index" outerLinkActive="active" style="color:white">
                <mat-icon style="vertical-align: text-bottom;">home</mat-icon>
                <span class="full-width">Home</span>
            </a> -->

            <mat-list-item (click)="showWeatherSubmenu = !showWeatherSubmenu" class="parent" style="color:whitesmoke">
                <span class="full-width" *ngIf="isWeatherExpanded || isWeatherShowing">Weather</span>
                <mat-icon mat-list-icon>light_mode</mat-icon>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showWeatherSubmenu}"
                    *ngIf="isWeatherExpanded || isWeatherShowing">
                    expand_more</mat-icon>
            </mat-list-item>

            <div class="submenu" [ngClass]="{'expanded' : showWeatherSubmenu}"
                *ngIf="isWeatherShowing || isWeatherExpanded">
                <a mat-list-item routerLink="/aqi" routerLinkActive="active" style="color:whitesmoke">
                    <span class="full-width">AQI</span>
                    <mat-icon mat-list-icon>cloud</mat-icon>
                </a>
                <a mat-list-item routerLink="/ultraviolet" routerLinkActive="active" style="color:whitesmoke">
                    <span class="full-width">UV</span>
                    <mat-icon mat-list-icon>delete</mat-icon>
                </a>
            </div>

            <mat-list-item (click)="showFinanceSubmenu = !showFinanceSubmenu" class="parent" style="color:whitesmoke">
                <span class="full-width" *ngIf="isFinanceExpanded || isFinanceShowing">Finance</span>
                <mat-icon mat-list-icon>money</mat-icon>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showFinanceSubmenu}"
                    *ngIf="isFinanceExpanded || isFinanceShowing">
                    expand_more</mat-icon>
            </mat-list-item>

            <div class="submenu" [ngClass]="{'expanded' : showFinanceSubmenu}"
                *ngIf="isFinanceShowing || isFinanceExpanded">
                <a mat-list-item routerLink="/investment" routerLinkActive="active" style="color:whitesmoke">
                    <span class="full-width">Investment</span>
                    <mat-icon mat-list-icon>attach_money</mat-icon>
                </a>
            </div>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <button mat-icon-button (click)="sidenav.toggle();isExpanded=!isExpanded">
                <mat-icon *ngIf="isExpanded">keyboard_arrow_left</mat-icon>
                <mat-icon *ngIf="!isExpanded">keyboard_arrow_right</mat-icon>
            </button>
            {{ NavTitle }}
            <span class="toolbar-spacer">
            </span>
            <span style="float: right;">
                <p>{{IndexTimer}}</p>
            </span>
            <!-- <button mat-button>Logout</button> -->
        </mat-toolbar>
        <div class="main-content">
            <div class="flex-container">
                <div class="flex-item-left">
                    <img src="{{IndexImage}}" style="width:auto;height:90%;max-height: fit-content;">
                </div>
                <div class="flex-item-right">
                    {{IndexQuote}}
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>